@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 255 255 255;
    --card: 255 255 255;
    --border: 229 231 235; 
    --text: 17 24 39;      
    --muted: 107 114 128;  
  }

  body {
    background-color: rgb(var(--bg));
    color: rgb(var(--text));
  }
}
